@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Job Search</h1>
    <p class="lead">Job search is a tool to keep track of Applications, Communications and To Dos during a job search.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apply</h2>
        <p>
            Everybody knows that there are a million details to keep up with when you are in a job search. Keeping track of when and where you
            have applied can help focus your efforts on the right leads.
        </p>
        <p><a class="btn btn-default" href="http://localhost:51745/Applications">Applications &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Communicate</h2>
        <p>
            Keeping track of communication with prospective employers, will help you guage their interest and keep you in contention as a detail
            oriented communicator.
        </p>
        <p><a class="btn btn-default" href="http://localhost:51745/Communications">Communications &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Do it</h2>
        <p>
            Nothing takes the place of persistent effort. To Dos will help you produce consistent actions to help you get hired.
        </p>
        <p><a class="btn btn-default" href="http://localhost:51745/ToDos">To Dos &raquo;</a></p>
    </div>
</div>